PORT=3000

DATABASE_URL=
PGHOST=
PGPORT=5432
PGUSER=
PGPASSWORD=
PGDATABASE=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
PGSSL=
DB_SYNC=false

JWT_SECRET=troque-por-um-segredo-forte
JWT_EXPIRES_IN=7d
